<p id="notice"><%= notice %></p>

<span id="the_maze">
<% for x in 0..@maze.blocks.count-1 %>
<%= @maze.blocks[x].join('') %><br>
<% end %>
</span>



<%= link_to 'Back', mazes_path %>
<input type="button" value="solve" id="butt1"/><br>

<%= content_tag :div, class: "maze_class", data: {maze: @maze} do %>
<% end %>

<script>
$('input[id=butt1]').click(function() {
	mazeSolver10();
});
</script>